<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-3 col-sm-6">
      <h4><%= post.user.username %></h4>

      <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= post["uploaded_image"] %>" class="img-fluid">
      <% end %>

      <p><%= post["description"] %></p>
    </div>
  <% end %>
</div>